---
import Layout from "../layouts/Layout.astro"
---

<Layout title="ai">
    <h1>my current view on ai and it's problems</h1>

    <section style="padding-top: 1em;">
        <p>maybe you are thinking now – what could this 19 year old know about ai??</p>
        <p>well I don't. <strong>but</strong> I can tell you how it impacted the last three years of my journey in software engineering</p>
    </section>
    <section style="padding-top: 1em;">
        <p>when i learned how to program in python, bash etc., I learned it the old fashioned way – books, wikis, guides</p>
        <p>that drastically changed in 2023, when copilot came out. It changed how I work & learn new things. After about <br />
            a year of usage I hit my rate-limit for the first time. Following that I had to code 100% manually (i had some things to get done)<br />
            so... I tried **manual** coding – and wow – I have forgotten how to code. After every line of code I had to google something, <br />
            <strong>It really woke me up.</strong>
        </p>
    </section>
    <section style="padding-top: 1em;">
        <p>

        After that **incident** I set myself a goal: learn programming. After ~5 years of coding experience I had to relearn <strong>everything</strong><br />
        from the groud up.
        I spend the next months gathering a deep understanding of computer and how they work, <br />how programing languages were created and the history of it all.
        That's when I realised I had no idea of what I've been doing before.
        </p>
    </section>
    <section style="padding-top: 1em;">
        <p>I still use ai today, but in a completely different way. But to be honest – i still feel that with every token spent – I lose a few braincells</p>
    </section>
</Layout>
