---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Clock from "../components/Clock.astro";

let time = new Date().toLocaleTimeString();
---

<Layout title="1π">
  <main class="flex justify-center w-full p-12">
    <div class="w-full lg:w-1/3 min-h-60">
      <div class="flex justify-between border-b">
        <h1>[jan@1π.com] Home</h1>
        <div class="flex gap-2">
          <a href="https://x.com/jph865599075996" class="text-green-300">x</a>
          <a href="https://github.com/jph-sw" class="text-green-300">gh</a>
          <a
            href="https://www.linkedin.com/in/jan-philipps-b37052297/"
            class="text-green-300">li</a
          >
        </div>
      </div>
      <p class="py-4">Hi, my name is Jan</p>
      <div class="py-4">
        [jan@1π.com] Blogs<div class="flex gap-2">
          <a href="https://lernzettel.vercel.app" class="text-green-300"
            >Lernzettel</a
          >
        </div>
      </div>
      <div class="py-4">
        <h2>[jan@1π.com] Projects</h2>
        <div class="flex flex-wrap py-2">
          <div class="border h-32 w-1/3 p-1">
            <a
              href="https://github.com/jph-sw/blossom"
              class="text-green-300 underline-offset-2 underline"
            >
              Blossom
            </a>
            <p>
              A landing page built with
              <a href="https://astro.dev" class="text-green-300">astro</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed bottom-0 flex justify-between w-full">
      <a
        style="cursor: pointer"
        class="text-sm"
        onclick="javascript: window.location = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ';"
        >light mode</a
      >

      <Clock />
    </div>
  </main>
</Layout>

<style>
  main {
    color: rgb(236, 236, 236);
    font-size: medium;
  }
</style>
