---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Clock from "../components/Clock.astro";

let time = new Date().toLocaleTimeString();
---

<Layout title="1π">
  <main class="flex justify-center w-full p-12">
    <div class="w-full lg:w-1/3 h-60">
      <div class="flex justify-between border-b">
        <h1>1π.com</h1>
      </div>
    </div>
    <div class="fixed bottom-0 flex justify-end w-full"><Clock /></div>
  </main>
</Layout>

<style>
  main {
    color: rgb(236, 236, 236);
    font-size: large;
  }
</style>
