---
import Layout from "../layouts/Layout.astro";
---

<Layout title="1π">
    <div class="">
      <h1 style="font-weight: 900;">Jan Philipps</h1>
      <p>I'm a 19 year old Software Engineer based in Germany.</p>
      <p>
          My passion for computer science started in 2018, <br />I was 11 years old when
        I decided that software is my life.
      </p>
      <p></p>
      <section style="padding-top: 1em;">
          <h2 style="font-weight: 900;">blog</h2>
          <div>
              <a href="/ai" style="text-decoration: underline;">2026-05-28 <strong>my view on ai and it's problems</strong></a>
          </div>
      </section>
    </div>
</Layout>

<style>
    main {
        font-size: medium;
    }
</style>
