---
import Layout from "../layouts/Layout.astro";
---

<Layout title="1π">
    <div class="">
        <div class="flex gap-2">
            <div class="h-40 w-40 border"/>
            <div>
            <h1 class="text-3xl font-semibold">Jan Philipps</h1>
                <p>Software Engineer based in Germany</p>
            <div class="pt-4 flex gap-2">
                <a class="button" href="mailto:jan@philipps.io">Email</a>
                <a class="button">Github</a>
                <a class="button">LinkedIn</a>
            </div>
            </div>
        </div>
      <p class="pt-4">
        My passion for computer science started in 2018. <br />Software has changed a lot since then and I try to do the same.
      </p>
      <p></p>
      <section class="pt-4">
          <h2 class="text-2xl font-semibold">blog</h2>
          <div>
              <a href="/ai" class="hover:underline">2026-05-28 <strong>my view on ai and it's problems</strong></a>
          </div>
      </section>
      <section class="pt-4">
          <h2 class="text-2xl font-semibold">projects</h2>
          <div>
              <span class="text-neutral-400 text-xs">// hopefully this won't be empty forever ;)</span>
          </div>
      </section>
    </div>
</Layout>

<style>
    main {
        font-size: medium;
    }
</style>
